@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Galano';
    src: url(./fonts/Galano-Grotesque-DEMO-Bold.otf);
  }
}

[data-direction="ltr"] {
  * {
    direction: ltr;
  }
  .children-x-1 > * {
    margin-right: 0.25rem;
  }
  .children-x-2 > * {
    margin-right: 0.5rem;
  }
  .children-x-4 > * {
    margin-right: 1rem;
  }
}
[data-direction="rtl"] {
  * {
    direction: rtl;
  }
  .children-x-1 > * {
    margin-left: 0.25rem;
  }
  .children-x-2 > * {
    margin-left: 0.5rem;
  }
  .children-x-4 > * {
    margin-left: 1rem;
  }
}

/**
 * base styles
 */
h1 {
  @apply text-5xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-3xl;
}
h4 {
  @apply text-2xl;
}
h5 {
  @apply text-xl;
}
h6 {
  @apply text-lg;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-galano ;
}

code {
  @apply font-mono p-1 inline rounded font-bold;
}
pre {
  @apply font-mono p-2 block rounded font-bold;
}

html {
  @apply font-poppins;
}

body {
  @apply font-poppins antialiased text-sm text-[#32324D];
}

.w-96 {
  width: 24rem;
}

.link {
  @apply text-blue-600;
}

.raised {
  @apply shadow;
}

/**
 * hide scrollbars
 */
::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}
.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.homepage {
  [data-direction="ltr"] & {
    .homepage-navbar-actions {
      @apply ml-auto;
    }
  }
  [data-direction="rtl"] & {
    .homepage-navbar-actions {
      @apply mr-auto;
    }
  }
}